


<!DOCTYPE html>
<html>

<head>
    <title>Home - Passengers Airline</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <h1>Welcome to Passengers Airline</h1>
        <nav>
            <ul>

                @if (!User.Identity.IsAuthenticated)
                {
                    <li id="login-link"><a asp-action="Login" asp-controller="Home">Login</a></li>
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>

                    <li id="register-link"><a asp-action="Register" asp-controller="Home">Register</a></li>
                }
                else
                {
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>

                    <li id="logout-link"><a asp-action="Logout" asp-controller="Home">Logout</a></li>
                }
                <!-- Add other links here -->
            </ul>
        </nav>
    </header>


    <div class="form-container">
        <h2>Search Flights</h2>
        <form asp-controller="Home" asp-action="SearchList" method="get">
            <div class="form-group autocomplete">
                <label for="from-destination">From:</label>
                <input type="text" id="from-destination" name="from-destination" required>
                <div id="from-destination-list" class="autocomplete-items">
                    <!-- Autocomplete results will be appended here -->
                </div>
            </div>

            <div class="switch-direction">
                <button type="button" aria-label="Switch direction">&#x2191;&#x2193;</button>
            </div>

            <div class="form-group autocomplete">
                <label for="to-destination">To:</label>
                <input type="text" id="to-destination" name="to-destination" required>
                <div id="to-destination-list" class="autocomplete-items">
                    <!-- Autocomplete results will be appended here -->
                </div>
            </div>

            <div class="form-group">
                <label for="return-date">Travel Date:</label>
                <input type="date" id="return-date" name="return-date">
            </div>


            <!-- You can add more fields like number of passengers, class of service, etc. -->
            <div class="form-group">
                <button type="submit" id="searchButton">Search</button>

            </div>
        </form>
    </div>

</body>

</html>
<script>document.addEventListener("DOMContentLoaded", function () {


        var countries = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola"];
        autocomplete(document.getElementById("from-destination"), countries);
        autocomplete(document.getElementById("to-destination"), countries);

        var returnDateInput = document.getElementById("return-date");
        returnDateInput.setAttribute("min", new Date().toISOString().split('T')[0]);
        returnDateInput.addEventListener("change", function () {
            var formatted = new Date(this.value).toLocaleDateString('en-US', {
                year: 'numeric', month: 'long', day: 'numeric'
            });
            document.getElementById("formatted-date").textContent = formatted;
        });


    });

    function autocomplete(inp, arr) {
        var currentFocus;
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(a);
            for (i = 0; i < arr.length; i++) {
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    b = document.createElement("DIV");
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    b.addEventListener("click", function (e) {
                        inp.value = this.innerText;
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });

        function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }

        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }</script>
